    .titulo{
        font-size: 200%;
        text-align: center;  
    
    }
    .subtitulo{
    text-align: center;
    font-size: 110%;
    
    }
    .introdução{
        text-align: center;
        font-size: 30px;
    }